.pre-test-options-text{
    border: 1px solid red; 
    width: 30em; 
    font-size: 1.3em; 
    padding: 0.7em 1.3em; 
    text-align: center;
    border-radius: 1em;
}


/* Main pre-test page content styling */
.test-questions{
    padding: 0.5em; 
    border-radius: 0.5em; 
    background-color: rgba(233, 233, 233, 0.715); 
    text-align: center;
    transition: 0.5s;
    font-size: 1.1em;
    cursor: pointer;
    border: 1px solid rgb(109, 109, 109);
}

.test-questions:hover{
    background-color: rgb(190, 215, 207);
    box-shadow: -10px 10px 1em rgb(176, 176, 176,0.8);
    transition: 0.5s;
}

.current-options{
    font-size: 1.2em;
}

/* Results page styling */

.resultcard{
    text-align: center;
    transition: 0.6s;
}

.resultcard:hover{
    transform: scale(1.04);
    transition: 0.7s;
}

#hiddenresultbox{
    /* background-color: rebeccapurple;  */
    padding: 4em 2em; 
    position: absolute; 
    opacity: 1; 
    top: 0em; 
    left: 0em;
    border-radius: 1em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 1;
}
