{% load static %}

<!--Start of the main game -->
<div class="row" style=" margin: 0%; justify-content: center; background-color: rgb(255, 218, 218); 
padding:2em 0em;"> <!-- dont copy this-->
    <div class="col-lg-10" 
    style="text-align: center; background: white; padding: 1em 0em; border-radius: 2em;
     border: 1px solid black;"> <!-- dont copy this-->

    <!-- row 1 start -->
    <div class="row" style="justify-content: left; padding: 0em 1em; margin: 0px;">
        <div class="col-lg-6" style="text-align: center; border-right: 2px solid black;">
    
            <a style="padding: 1em; text-decoration: none;" onclick="easy_section_click()"
            data-bs-toggle="modal" data-bs-target="#LevelSectionModal">
                <h4>Easy Level - Sections</h4>
                <div>
                  

                    {% if available_levels_list.0 == "Easy" %}
                    <img style="width: 10em;" src="{% static 'courses/photos/level_1.png' %}" alt="img1">
                    {% else %}
                    <img style="width: 10em; filter:grayscale(100%)" src="{% static 'courses/photos/level_1.png' %}" alt="img1">
                    {% endif %}
                   
                </div>
            </a>
            <div style="padding-left: 1em;">
                <hr style="border: 0.1em solid black;">
            </div>

        </div>
    </div> 
    <!--row 1 ended -->

    <!--row 2 ended -->
    <div class="row" style="justify-content: right; padding:0em 1em; margin: 0px;">
        <div class="col-lg-1" style="border-right: 0.2em solid black;">
        </div>
        <div class="col-lg-6"  style="text-align: center; border-left: 2px solid black;">

            <a style="padding: 1em; text-decoration: none;" onclick="medium_section_click()"
            data-bs-toggle="modal" data-bs-target="#LevelSectionModal">
                <h4>Medium Level - Sections</h4>
                <div>
                    {% if available_levels_list.1 == "Medium" %}
                    <img style="width: 10em;" src="{% static 'courses/photos/level_2.png' %}" alt="img1">
                    {% else %}
                    <img style="width: 10em; filter:grayscale(100%);" src="{% static 'courses/photos/level_2.png' %}" alt="img1">
                    {% endif %}
                </div>
            </a>
            <div style="padding-right: 1em;">
                <hr style="border: 0.1em solid black;">
            </div>

        </div>
    </div>  
    <!--row 2 ended -->

    <!--row 3 started-->
    <div class="row" style="justify-content: left; padding:0em 1em; margin: 0px;">
        <div class="col-lg-6"  style="text-align: center; border-right: 2px solid black;">

            <a style="padding: 1em; text-decoration: none;" onclick="hard_section_click()" 
            data-bs-toggle="modal" data-bs-target="#LevelSectionModal">
                <h4>Hard Level - Sections</h4>
                <div>
                    {% if available_levels_list.2 == "Hard" %}
                    <img style="width: 10em;" src="{% static 'courses/photos/level_3.png' %}" alt="img1">
                    {% else %}
                    <img style="width: 10em; filter:grayscale(100%);" src="{% static 'courses/photos/level_3.png' %}" alt="img1">
                    {% endif %}
                </div>
            </a>
            <div style="padding-left: 1em;">
                <hr style="border: 0.1em solid black;">
            </div>

        </div>
    </div>  
    <!--row 3 ended -->


    <div class="row" style="justify-content: right; padding:0em 1em; margin: 0px;">
        <div class="col-lg-1" style="border-right: 0.2em solid black;"></div>
        <div class="col-lg-6"  style="text-align: center; border-left: 2px solid black;">

            <a style="padding: 1em; text-decoration: none;" onclick="advanced_section_click()"
            data-bs-toggle="modal" data-bs-target="#LevelSectionModal">
                <h4>Expert Level - Sections</h4>
                <div>
                    {% if available_levels_list.3 == "Expert" %}
                    <img style="width: 10em;" src="{% static 'courses/photos/level_4.jpg' %}" alt="img1">
                    {% else %}
                    <img style="width: 10em; filter:grayscale(100%);" src="{% static 'courses/photos/level_4.jpg' %}" alt="img1">
                    {% endif %}
                </div>
            </a>
            <div style="padding-right: 1em;">
                <hr style="border: 0.1em solid black;">
            </div>

        </div>
    </div>  
    <!--row 4 ended -->

  </div> <!-- col 6 main ended--> <!-- dont copy this-->
</div>
<!-- End of the main game -->

<!--
<script>
    document.addEventListener('contextmenu', function(event) {
        event.preventDefault(); // Prevent default right-click action
    });
</script>

-->