{% load static %}



<!--Modal - this is where you set the date for the course end -->
<div class="modal fade" id="set_deadline3" data-bs-backdrop="static" style="padding: 1em;"
data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="Modal_level_body" style="text-align: center;">
        <!--modal body -->
          
        <div style="font-size: 1.3em; text-align:center; font-weight: 500; padding: 0em 1em;">
          <br> 
          <img id="robo-img" style="max-width:13em;" src="{% static 'accounts/photos/robot_student_dashboard.png' %}">
          <div>
            Please set the expected date for completing this course
          </div>

         <!-- form for submitting the deadline --> 
         <form id="setscheduleform" style="padding:1em;" action="{% url 'progress:setdeadlineaftertest' slug=course.slug %}" method="POST" onsubmit="return validateDate()">
           <input id="inputDate" name="inputDate" class="form-control form-control-lg" placeholder="Input date" type="date">
           <br>
           {% csrf_token %}
           <button class="btn btn-dark" type="submit">Submit </button> <br> 
         </form><br>
         
        </div>

      </div>
    </div>
  </div>
</div>
<!-- End of modal - 2-->


<script>
  function validateDate() {
      var inputDate = document.getElementById("inputDate").value;
      var currentDate = new Date().toISOString().slice(0, 10);
  
      if (inputDate <= currentDate) {
          alert("Please enter a date greater than the current date.");
          return false;  // Prevent form submission
      }
      return true;  // Allow form submission
  }
</script>